<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/anicolle/eclipse-workspace/AppiumFrameword/AppiumFramework">
        <classes>
            <class name="org.practise.Ecommerce_TC_4">
            </class>
<!--            <class name="org.practise.ApiDemoTest">-->
<!--            </class>-->

        </classes>
    </test>
</suite>